<div id="home" class="d-flex">
    <div class="d-flex flex-column p-3 justify-content-center align-items-center" id="home-info">
        <div>
            <p class="text-pink font-pri" style="font-size: 2.5rem;">Explore exciting job oppurtunities and internships.</p>
            <p class="text-white font-sec" style="font-size: 1.5rem;  font-weight: 600;">Get Discovered. Get Hired.</p>
        </div>
        <div class="d-flex justify-content-evenly" id="home-main-btn">
            <a href="/jobs"><button type="button" class="btn">I'm a job seeker</button></a>
            <a href="/register"><button type="button" class="btn">I'm a recruiter</button></a>
        </div>
    </div>
    <div id="home-img" class="d-flex justify-content-center align-items-center m-2">
        <img src="/images/banner.png" style="height: 100%;" alt="image not found">
    </div>
</div>